<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,118},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>enemy_alien.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,54},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>enemy_monkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,56},{38,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>ewe_gorilla.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{72,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{128,81}</string>
            </dict>
            <key>ewe_missile-jng.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,143},{30,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ewe_missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,131},{20,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ewe_mothership.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{128,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,81}}</string>
                <key>sourceSize</key>
                <string>{128,81}</string>
            </dict>
            <key>explode01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,154},{30,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explode02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,99},{42,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explode04.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,64},{48,52}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explode05.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,126},{48,52}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explode06.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{46,52}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>grass-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{52,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,101},{38,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{38,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>health_boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,132},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>itp382sheep-2-shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,131},{58,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>itp382sheep-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,143},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>itp382sheep.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,85},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>jungle_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,143},{26,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>missile_boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,85},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>portal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,183}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,183}}</string>
                <key>sourceSize</key>
                <string>{640,183}</string>
            </dict>
            <key>puff_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,132},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>puff_boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>puff_boost_infinite.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shield_boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{50,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ewe-sprites.png</string>
            <key>size</key>
            <string>{1009,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb022e213668ab4421f2dcf3d31a598:79eb8603edf6eb3ee3015ceefddc078b:bdfcb97de8a3247bc2d77445bd74c0ac$</string>
            <key>textureFileName</key>
            <string>ewe-sprites.png</string>
        </dict>
    </dict>
</plist>
